<p id="notice"><%= notice %></p>

<h1>Events</h1>
<% if @events.empty? %>
  <p class="table-elt">There are no events at the moment</p>
<% else %>
  <table class="table">
    <thead>
      <tr>
        <th class="table-dark bg-primary">Title</th>
        <th class="table-dark bg-primary">Date</th>
        <th class="table-dark bg-primary">Location</th>
        <th class="table-dark bg-primary">Description</th>
        <th class="table-dark bg-primary">Host</th>
        <th class="table-dark bg-primary" colspan="5"></th>
      </tr>
    </thead>

    <tbody>
      <% @events.each do |event| %>
        <tr>
          <td class="table-elt"><%= event.title %></td>
          <td class="table-elt"><%= event.time %></td>
          <td class="table-elt"><%= event.location %></td>
          <td class="table-elt"><%= event.description %></td>
          <td class="table-elt"><%= event.user.name %></td>
          <td class="table-elt"><%= link_to 'Show', event %></td>
          <% if logged_in? %>
            <% if event.user_id == current_user.id %>
              <td class="table-elt"><%= link_to 'Attend Event', user_attending_path(event), method: :patch %></td>
              <td class="table-elt"><%= link_to 'Edit', edit_event_path(event) %></td>
              <td class="table-elt"><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
<br>
